# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
parsetab.py
parser.out

# Cocotb / Simulation
sim_build/
*.vcd
*.fst
results.xml
*.vvp

# OpenLane / OpenROAD
runs/
*.log

# Editor / OS
.DS_Store
.vscode/
.idea/

# Direnv
.direnv/

# Downloads & Archives
*.zip
artifacts/

